* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(35, 50, 50);   /*background colour*/
    color: lightgray;      /* body text*/
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
}

main h2 {
    font-size: 18pt;
    color: lightgray;     /*body text*/
    font-weight: normal;
    line-height: 1.5;
}

header {
    background-color: rgb(6, 66, 25);            /*header colour*/
    border-bottom: 3px solid rgb(5, 150, 15);    /*border colour*/
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
    color: lightgreen;       /*title colour*/
}

header h1 {
    font-size: 36pt;
    margin: 1%;
}

nav.nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 18pt;
}

nav.nav a {
    text-decoration: none;
    color: rgb(50, 250, 50);          /*link colour*/
    font-weight: 600;
    padding: 5px 10px;
}

nav.nav a:hover,
nav.nav a:focus {
    color: lightgreen;          /*link hover vcolour*/
}


footer {
    background-color: rgb(6, 66, 25);            /*footer colour*/
    border-top: 3px solid rgb(5, 150, 15);    /*border colour*/
    text-align: center;
    font-size: 1.3rem;
    padding: 2% 0;
    margin-top: 40px;
}

footer a {
    text-decoration: none;
    color: rgb(50, 250, 50);          /*link colour*/
    font-size: 18pt;
    font-weight: bold;
}

footer a:hover,
footer a:focus {
    color: lightgreen;          /*link hover vcolour*/
}





/* index html css stuff start*/
section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(50,50, 50);                  /*inner box colour*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 130, 0, 0.5);          /*box shadow coloru*/
}

section article:first-child {
    flex: 1;
    padding-right: 10px;
}

section article:last-child {
    flex: 1;
}

.articleImg {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 130, 0, 0.5);          /*box shadow coloru*/
}
/* index html css stuff end */




/* Inspiration html css stuff start*/
.creator-section {
    background-color: rgb(50,50, 50);                  /*inner box colour*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 60%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 130, 0, 0.5);          /*box shadow coloru*/
}

.creator-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.creator-text h2 a {
    color: rgb(50, 250, 50);          /*link colour*/
    text-decoration: none;
    font-size: 25pt;
}

.creator-text h2 a:hover,
.creator-text h2 a:focus {
    color: lightgreen;          /*link hover vcolour*/
}

.creator-text h3 {
    font-size: 18pt;
    font-weight: normal;
    color: lightgray;     /*body text*/
}

.creator-images {
    position: relative;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 130, 0, 0.5);          /*box shadow coloru*/
}

.creator-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: transform 3s ease-in-out;
    position: relative;
    
}

.creator-images img:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% );
    height: calc(100%);
    transform: scale(1);
    z-index: 10;
    transform-origin: center;
    grid-column: span 2;
    grid-row: span 2;
}
/* Inspiration html css stuff end*/




/*top 5 html and css stuff star*/
.top-fives-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 200px;
    width: 70%;
    margin: 40px auto;
    padding: 0 20px;
    flex-wrap: nowrap;
}

.list-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-wrapper h2 {
    font-size: 25pt;
    margin-bottom: 20px;
    text-align: center;
    color: lightgreen;       /*title colour*/
}

.list-column {
    width: 100%;
} 

.list-item {
    margin-bottom: 30px;
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.item-content p {
    flex: 1;
    font-size: 18pt;
    text-align: left;
    margin: 0;
    color: lightgray;      /* body text*/
}

.item-content img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    align-self: flex-start;
    box-shadow: 0 0 10px rgba(0, 130, 0, 0.5);          /*box shadow coloru*/
}